<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Add New Employee</mat-card-title>
    <mat-card-subtitle>Enter all details marked with * mark</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="form" #formData="ngForm">
      <div class="container">
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Gaurav" value="" id='firstName' name='firstName' type="text"
            [(ngModel)]='employeeData.firstName'>
        </mat-form-field>
        <br><br>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Thorat" value="" id='lastName' name='lastName' type="text"
            [(ngModel)]='employeeData.lastName'>
        </mat-form-field>
        <br><br>
        <mat-form-field hintLabel="Max 100 characters" appearance="fill">
          <mat-label>Enter your complete address</mat-label>
          <textarea matInput MatFormFieldControl maxlength="100"
            placeholder="2010, Tower 23, Blue Ridge Scociety, Hinewadi, Pune - 411057" id='Address' name='Address'
            [(ngModel)]='employeeData.Address' #address></textarea>
          <mat-hint align="end">{{address.value?.length || 0}}/100</mat-hint>
        </mat-form-field>
        <br><br>
        <mat-form-field color="accent">
          <mat-label>Date of Joining</mat-label>
          <input matInput [matDatepicker]="picker" id='doj' name='doj' [(ngModel)]='employeeData.doj'>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="right">
    <button id="btnSubmit" mat-raised-button (click)="submitEmployee(btnSubmitText)"
      class='primary'>{{btnSubmitText}}</button>
    <button mat-raised-button (click)="cancelorClear(btnTextCancelOrClear)" class='warn'>{{btnTextCancelOrClear}}</button>
  </mat-card-actions>
</mat-card>