<form class="container container-fluid" #formData="ngForm" [formGroup]="employeeForm" (ngSubmit)="submitEmployee(btnSubmitText)">

  <div class="form-group">
    <label for="firstName">First Name </label>
    <input formControlName="firstName" id="firstName" type="text" class="form-control" name="firstName">
    <div *ngIf="f.firstName.touched && f.firstName.invalid" class="alert alert-danger">
      <div *ngIf="f.firstName.errors.required">First Name is required.</div>
      <div *ngIf="f.firstName.errors.minlength">First Name should be more than 3 character.</div>
    </div>
  </div>
  <br><br>
  <div class="form-group">
    <label for="lastName">Last Name </label>
    <input formControlName="lastName" id="lastName" type="text" class="form-control">
    <div *ngIf="f.lastName.touched && f.lastName.invalid" class="alert alert-danger">
      <div *ngIf="f.lastName.errors.required">Last Name is required.</div>
      <div *ngIf="f.lastName.errors.minlength">Last Name should be more than 3 character.</div>
    </div>
  </div>
  <br><br>
  <div class="form-group">
    <label for="Address">Address </label>
    <textarea formControlName="Address" id="Address" type="text" class="form-control"
    placeholder="2010, Tower 23, Blue Ridge Scociety, Hinewadi, Pune - 411057" #address></textarea>
    <mat-hint align="end">{{address.value?.length || 0}}/100</mat-hint>
    <div *ngIf="f.Address.touched && f.Address.invalid" class="alert alert-danger">
      <div *ngIf="f.Address.errors.required">Address is required.</div>
      <div *ngIf="f.Address.errors.minlength">Address should be 10 character.</div>
    </div>
  </div>
  <br><br>

  <div class="form-group">
    <label for="doj">Date of Joining </label>
    <input formControlName="doj" matInput [matDatepicker]="picker" id='doj' name='doj' />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker color="primary"></mat-datepicker>
    <div *ngIf="f.doj.touched && f.doj.invalid" class="alert alert-danger">
      <div *ngIf="f.doj.errors.required">Date of Joining is required.</div>
    </div>
  </div>

  <!-- <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Gaurav" value="" id='firstName' name='firstName' type="text"
      [(ngModel)]='employeeData.firstName'>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Thorat" value="" id='lastName' name='lastName' type="text"
      [(ngModel)]='employeeData.lastName'>
  </mat-form-field>
  <mat-form-field hintLabel="Max 100 characters" appearance="fill">
    <mat-label>Enter your complete address</mat-label>
    <textarea matInput MatFormFieldControl maxlength="100"
      placeholder="2010, Tower 23, Blue Ridge Scociety, Hinewadi, Pune - 411057" id='Address' name='Address'
      [(ngModel)]='employeeData.Address' #address></textarea>
    <mat-hint align="end">{{address.value?.length || 0}}/100</mat-hint>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Date of Joining</mat-label>
    <input matInput [matDatepicker]="picker" id='doj' name='doj' [(ngModel)]='employeeData.doj'>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker color="primary"></mat-datepicker>
  </mat-form-field> -->

  <!-- {{formData.value | json}} -->
  <div id="actions">
  <button id="btnSubmit" mat-raised-button class='primary' type="submit"
    [disabled]="!employeeForm.valid">{{btnSubmitText}}</button>
  <button mat-raised-button (click)="cancelorClear(btnTextCancelOrClear)" class='warn'>{{btnTextCancelOrClear}}</button>
</div>
</form>